In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [23]:
df = pd.read_csv('FinancialMarketDataFormatted.csv')

df.drop(columns=['LLL1 Index'], inplace=True)

print("Shape", df.shape)
print("First few rows")
display(df.head())
print("Info")
df.info()

Shape (1148, 57)
First few rows

        Date  XAU BGNL Curncy  ECSURPUS Index  ...  TP1 Index  DU1 Comdty  TU2 Comdty
0  4/27/1999           282.25             NaN  ...     1347.5      105.69     104.898
1   5/4/1999           285.55             NaN  ...     1328.5      105.58     104.664
2  5/11/1999           278.25             NaN  ...     1343.5      105.67     104.406
3  5/18/1999           273.95             NaN  ...     1323.5      105.60     104.141
4  5/25/1999           271.45             NaN  ...     1307.0      105.68     104.289

[5 rows x 57 columns]

Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1148 entries, 0 to 1147
Data columns (total 57 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             1148 non-null   object
 1   XAU BGNL Curncy  1148 non-null   float64
 2   ECSURPUS Index   1111 non-null   float64
 3   BDIY Index       1148 non-null   float64
 4   CRY Index        1148 non-null   float64
 5   DXY Curncy       1148 non-null   float64
 6   JPY Curncy       1148 non-null   float64
 7   GBP Curncy       1148 non-null   float64
 8   Cl1 Comdty       1148 non-null   float64
 9   VIX Index        1148 non-null   float64
 10  USGG30YR Index   1148 non-null   float64
 11  GT10 Govt        1148 non-null   float64
 12  USGG2YR Index    1148 non-null   float64
 13  USGG3M Index     1148 non-null   float64
 14  US0001M Index    1148 non-null   float64
 15  GTDEM30Y Govt    1148 non-null   float64
 16  GTDEM10Y Govt    1148 non-null   float64
 17  GTDEM2Y Govt     1148 non-null   float64
 18  EONIA Index      1148 non-null   float64
 19  GTITL30YR Corp   1121 non-null   float64
 20  GTITL10YR Corp   1121 non-null   float64
 21  GTITL2YR Corp    1121 non-null   float64
 22  GTJPY30YR Corp   1129 non-null   float64
 23  GTJPY10YR Corp   1148 non-null   float64
 24  GTJPY2YR Corp    1148 non-null   float64
 25  GTGBP30Y Govt    1148 non-null   float64
 26  GTGBP20Y Govt    1148 non-null   float64
 27  GTGBP2Y Govt     1148 non-null   float64
 28  LUMSTRUU Index   1148 non-null   float64
 29  LMBITR Index     1148 non-null   float64
 30  LUACTRUU Index   1148 non-null   float64
 31  LF98TRUU Index   1148 non-null   float64
 32  LG30TRUU Index   1148 non-null   float64
 33  LP01TREU Index   1148 non-null   float64
 34  EMUSTRUU Index   1148 non-null   float64
 35  LF94TRUU Index   1147 non-null   float64
 36  MXUS Index       1148 non-null   float64
 37  MXEU Index       1148 non-null   float64
 38  MXJP Index       1148 non-null   float64
 39  MXBR Index       1148 non-null   float64
 40  MXRU Index       1148 non-null   float64
 41  MXIN Index       1148 non-null   float64
 42  MXCN Index       1148 non-null   float64
 43  MXWO Index       1148 non-null   float64
 44  MXWD Index       1148 non-null   float64
 45  LEGATRUU Index   1148 non-null   float64
 46  HFRXGL Index     1147 non-null   float64
 47  RX1 Comdty       1148 non-null   float64
 48  TY1 Comdty       1148 non-null   float64
 49  GC1 Comdty       1148 non-null   float64
 50  CO1 Comdty       1148 non-null   float64
 51  ES1 Index        1148 non-null   float64
 52  VG1 Index        1148 non-null   float64
 53  NQ1 Index        1140 non-null   float64
 54  TP1 Index        1148 non-null   float64
 55  DU1 Comdty       1148 non-null   float64
 56  TU2 Comdty       1148 non-null   float64
dtypes: float64(56), object(1)
memory usage: 511.3+ KB

In [24]:
df['Pct_Change'] = df['MXWO Index'].pct_change(periods=-1) * 100
df['CRASH'] = (df['Pct_Change'] <= -10).astype(int)

In [25]:
print(df.isnull().sum())

Date                0
XAU BGNL Curncy     0
ECSURPUS Index     37
BDIY Index          0
CRY Index           0
DXY Curncy          0
JPY Curncy          0
GBP Curncy          0
Cl1 Comdty          0
VIX Index           0
USGG30YR Index      0
GT10 Govt           0
USGG2YR Index       0
USGG3M Index        0
US0001M Index       0
GTDEM30Y Govt       0
GTDEM10Y Govt       0
GTDEM2Y Govt        0
EONIA Index         0
GTITL30YR Corp     27
GTITL10YR Corp     27
GTITL2YR Corp      27
GTJPY30YR Corp     19
GTJPY10YR Corp      0
GTJPY2YR Corp       0
GTGBP30Y Govt       0
GTGBP20Y Govt       0
GTGBP2Y Govt        0
LUMSTRUU Index      0
LMBITR Index        0
LUACTRUU Index      0
LF98TRUU Index      0
LG30TRUU Index      0
LP01TREU Index      0
EMUSTRUU Index      0
LF94TRUU Index      1
MXUS Index          0
MXEU Index          0
MXJP Index          0
MXBR Index          0
MXRU Index          0
MXIN Index          0
MXCN Index          0
MXWO Index          0
MXWD Index          0
LEGATRUU Index      0
HFRXGL Index        1
RX1 Comdty          0
TY1 Comdty          0
GC1 Comdty          0
CO1 Comdty          0
ES1 Index           0
VG1 Index           0
NQ1 Index           8
TP1 Index           0
DU1 Comdty          0
TU2 Comdty          0
Pct_Change          1
CRASH               0
dtype: int64

In [26]:
df['ECSURPUS Index'].fillna(0, inplace=True)

<ipython-input-26-5600619e3a2a>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ECSURPUS Index'].fillna(0, inplace=True)

In [27]:
print(df.isnull().sum())

Date                0
XAU BGNL Curncy     0
ECSURPUS Index      0
BDIY Index          0
CRY Index           0
DXY Curncy          0
JPY Curncy          0
GBP Curncy          0
Cl1 Comdty          0
VIX Index           0
USGG30YR Index      0
GT10 Govt           0
USGG2YR Index       0
USGG3M Index        0
US0001M Index       0
GTDEM30Y Govt       0
GTDEM10Y Govt       0
GTDEM2Y Govt        0
EONIA Index         0
GTITL30YR Corp     27
GTITL10YR Corp     27
GTITL2YR Corp      27
GTJPY30YR Corp     19
GTJPY10YR Corp      0
GTJPY2YR Corp       0
GTGBP30Y Govt       0
GTGBP20Y Govt       0
GTGBP2Y Govt        0
LUMSTRUU Index      0
LMBITR Index        0
LUACTRUU Index      0
LF98TRUU Index      0
LG30TRUU Index      0
LP01TREU Index      0
EMUSTRUU Index      0
LF94TRUU Index      1
MXUS Index          0
MXEU Index          0
MXJP Index          0
MXBR Index          0
MXRU Index          0
MXIN Index          0
MXCN Index          0
MXWO Index          0
MXWD Index          0
LEGATRUU Index      0
HFRXGL Index        1
RX1 Comdty          0
TY1 Comdty          0
GC1 Comdty          0
CO1 Comdty          0
ES1 Index           0
VG1 Index           0
NQ1 Index           8
TP1 Index           0
DU1 Comdty          0
TU2 Comdty          0
Pct_Change          1
CRASH               0
dtype: int64

In [28]:
df.fillna(method='ffill', inplace=True)

<ipython-input-28-e9443599d05e>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [30]:
df['HFRXGL Index'].fillna(method='bfill', inplace=True)

<ipython-input-30-80e6e2ec7d74>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['HFRXGL Index'].fillna(method='bfill', inplace=True)
<ipython-input-30-80e6e2ec7d74>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['HFRXGL Index'].fillna(method='bfill', inplace=True)

In [33]:
df.fillna(method='bfill', inplace=True)

<ipython-input-33-168d8f9d469d>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

In [35]:
# Define columns for which to create lagged features
columns_to_lag = ['VIX Index', 'MXWO Index']

# Number of lags to create
num_lags = 3  # 1-week, 2-week, 3-week lags

# Create lagged features
for col in columns_to_lag:
    for lag in range(1, num_lags + 1):
        df[f'{col}_lag_{lag}'] = df[col].shift(lag)

In [36]:
df

           Date  XAU BGNL Curncy  ...  MXWO Index_lag_2  MXWO Index_lag_3
0     4/27/1999           282.25  ...               NaN               NaN
1      5/4/1999           285.55  ...               NaN               NaN
2     5/11/1999           278.25  ...           1252.10               NaN
3     5/18/1999           273.95  ...           1232.99           1252.10
4     5/25/1999           271.45  ...           1239.79           1232.99
...         ...              ...  ...               ...               ...
1143  3/23/2021          1727.96  ...           2761.82           2768.25
1144  3/30/2021          1685.56  ...           2823.69           2761.82
1145   4/6/2021          1743.28  ...           2788.01           2823.69
1146  4/13/2021          1742.69  ...           2805.10           2788.01
1147  4/20/2021          1779.72  ...           2876.23           2805.10

[1148 rows x 65 columns]